.repository-row{
    width:1000px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	align-items: center;
    align-content: center;
    left:20px;
}
.repository-row h3{
    font-size: 22px;
}
.repos-infos{
    padding:20px 10px;
    margin-left: 10px;
}
.avatar{
    width: 200px;
    height: 200px;
}
.repos-description{
    font-size: 20px;
    padding:10px;
    margin-bottom: 0;

}

 .statistics span {
border: 3px solid black; 
margin: 10px 5px;
padding: 6px;

}
.statistics p {
    display: inline-block;
    margin-left:10px;
}




/*@media(max-width: 1000px){
   
    .repository-row{
        width:100%;
        
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            align-content: center;
        

    }
    .repository-row  figure{
        margin: auto;
    }
    .repos-infos{
        text-align: center;
        
    }
    .statistics{
        margin-top: 7px;
    margin-bottom: 7px;
    }
    .statistics p{
    display: block;
    
    }

}*/
@media(max-width: 1000px){
figure .avatar{
    width: 150px;
    height: 150px;
}

.repos-infos h3{
    margin-top: 0;
    margin-bottom: 0;
}
}

@media(max-width: 700px){
    .repository-row{
        width:100%;
        
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            align-content: center;
        
    }

    .repos-infos, .repos-description{
        font-size: 15px;
        margin-top: 0px;
    }
    .repository-row  figure{
        margin: auto;
    }
    .repos-infos{
        text-align: center;
        
    }
    
   
    .statistics{
        margin-top: 7px;
    margin-bottom: 7px;
    }
    .statistics p{
    display: block;
   
    }

    
}