button {
    padding: 8px 10px;
    
    font-weight: 600;
    font-size: 17px;
    width: 140px;
    box-sizing: border-box;
    height: 50px;
  }
  
  button:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    /*margin-left: 40%;*/
    margin-right: 5px;
  }
  
  .next , .firstPage {
    background-color: #1e90ff;
    color: white;
  }
 .next{
     margin-right: 30%;
 }
  .pagination{
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: space-between;
      height: 100px;
	
}
 .pagination .first {
  width: 170px;
  margin-right: 15px;
 }
.first:hover{
  background-color: #2ea44f;
  color: white;
}
.previous-small , .next-small{
  display:none ;
}


@media(max-width: 700px){
.previous-small , .next-small{
  display:block ;
  width: 80px;
  margin-right: 10px;
}
.previous, .next{
  display: none;
}

}